.idea/
logs/
www/
.DS_Store
*.swp
*.log
.settings/
.project
.buildpath
nbproject/
node_modules/

commit.hash

deploy.flag

application/environment.php
application/cache/*
application/daemons/*
application/logs/*
application/config/database.php
application/config/email.php
application/config/environment.php
application/config/project_custom.php
application/config/daemons.php

htdocs/uploads/